# Godot 4+ specific ignores
.godot/
/android/

# Local testing files
scratch/

# For now...
model/plant_kit

# Do not upload model files or unwrap caches
*.blend
*.blend1
*.fbx
*.glb
*.unwrap_cache
*.depren
